<div class="grid-x grid-padding-x">
    <div class="large-12 cell">
        <div class="grid-x grid-padding-x">
            <% form({ method: :get }, { obj: @params }) do |f| %>
                <div class="grid-x grid-padding-x">
                    <% if @params.failure? %>
                        <div class="large-12 cell callout warning">
                            <p>
                            Параметры фильтра введены неверно, данные не были отфильтрованы
                            </p>
                        </div>
                    <% end %>
                    <div class="large-6 cell">
                        <%= f.input(:min, type: :text, placeholder: '20', label: 'Min:')%>
                    </div>
                    <div class="large-6 cell">
                        <%= f.input(:max, type: :text, placeholder: '30', label: 'Max:')%>
                    </div>
                    <div class="large-12 cell">
                        <%= f.button(value: 'Фильтровать', class: 'button') %>
                    </div>
                    <div class="large-12 cell">
                         <a href="triangles/new" class="button">Добавить треугольник</a>
                    </div>
                </div>
            <%end%>
        </div>
    </div>
    <div class="large-12 cell">
        <% if @filter_triangle.empty? %>
            <div class="callout">
                Согласно вашему фильтру никаких треугольников не было найдено
            </div>
        <% else %>
            <table>
                <thead>
                    <tr>
                    <th>Первая сторона</th>
                    <th>Вторая сторона</th>
                    <th>Третья сторона</th>
                    </tr>
                </thead>
                <tbody>
                    <% @filter_triangle.each do |triangle| %>
                    <tr>
                        <td><%= triangle.line_one %></td>
                        <td><%= triangle.line_two %></td>
                        <td><%= triangle.line_three %></td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        <% end %>
    </div>
</div>